#centre{
  display: inline-block;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: skyblue;
  border : solid 2px black;
  width: 500px;
  height: 600px;
  
}
#logo
{
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom:150px;
}

#u1{
width: 90%;
margin-left: 10px;

}
#p1{
width: 90%;
margin-left: 10px;

}

.btn{
  display: block;
  height: 30px;
  width: 100px;
  margin-left: 100px;
}
#bdy{
  background-image: url(ewktgtr.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
